body {
  background: rgb(203, 203, 203);
  margin: 0;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

.a, .b, .c, .d, .e, .f{
  border: black solid 2px;
  background-color: rgb(190, 190, 190);
  font-weight: bolder;
  font-size: xx-large;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
